body {
    margin: 0%;
    background-color: black;
}
.vinheta {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    opacity: 0;
    transition: opacity 0.5s;
}

.navBar {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 90px;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
    }

.primeira-entrada {
    overflow: hidden;
    position: relative;

    background-size: cover;
    background-repeat: no-repeat; 
}


    i#burguer {
        width: 20px;
        height: 17px;
        background-color: black;
        display: block;
        color: gray;
        margin-left: 15px;
        cursor: pointer;
    }

    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
    }

    .navBarFilmes {
        background-color: transparent;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: azure;
        width: 100%;
        height: 20%;
        margin-left: 20px;
        user-select: none;
    }

    .navBarSeries {
        background-color: transparent;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: azure;
        width: 100%;
        height: 20%;
        margin-left: 20px;
        user-select: none;
    }

    .series {
        width: 40px;
        height: 50px;
        margin-left: 20px;
        position: relative;
        overflow: hidden;
    }

    .seriesHover:hover {
        transform: scale(1.2); /* Amplia a imagem 20% ao passar o mouse sobre ela */
        z-index: 1; /* Coloca a imagem na frente de outros elementos, se necessário */
        transition: transform 0.3s;
    }


    /* Estilo para a barra de pesquisa */
    .search-container {
        margin-left: 480px;
        display: flex;
        background-color: #333;
        padding: 5px, 2px;
        border-radius: 5px;
    }

    /* Estilo para o campo de entrada de texto */
    #search {
        width: 400px;
        flex-grow: 1;
        padding: 5px;
        border: none;
        background-color: transparent;
        color: white;
        outline: none;
    }

    /* Estilo para o botão de pesquisa */
    .search-button {
        background-color: #C20F08; /* Cor vermelha da Netflix */
        border: none;
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pointer;
        border: 2px solid gray;
        transition: background-color 0.3s
    }

    /* hover do button search */
    .search-button:hover{
        background-color: red;
    }

    .search-button:active{
        background-color: #8B0000;
        box-shadow: #333;
        size: 2px;
    }